/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* My css */
@font-face {
  font-family: "Stem Extra Light";
  src: url("https://db.onlinewebfonts.com/t/234c7114c6c8ddd5bba3c39f31dcb01f.eot");
  src: url("https://db.onlinewebfonts.com/t/234c7114c6c8ddd5bba3c39f31dcb01f.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/234c7114c6c8ddd5bba3c39f31dcb01f.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/234c7114c6c8ddd5bba3c39f31dcb01f.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/234c7114c6c8ddd5bba3c39f31dcb01f.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/234c7114c6c8ddd5bba3c39f31dcb01f.svg#Stem Extra Light")
      format("svg");
}

:root {
  --font-main: "Stem Extra Light";

  --color-body-background: #cad8da;
  --color-module-background: #eaeaea;
  --color-accent: #bebfb6;
  --color-font: #2e303f;

  --gameboard-grid-size: 32rem;
}

body {
  background-color: var(--color-body-background);
}

p,
button {
  font-family: var(--font-main);
  color: var(--color-font);
  font-size: 25px;
}

.module,
.input-module {
  border-radius: 25px;
  box-shadow: 1px 4px 10px rgb(0, 0, 0, 0.25);
  border: none;
}

.module {
  background-color: var(--color-module-background);
}

.input-module {
  background-color: var(--color-accent);
}

.small-display {
  height: 3.125rem;
  width: 3.125rem;
}

/* #symbols-container,
#scores-container {
  height: 9.375rem;
  width: 5.625rem;
} */

#player1-name,
#player2-name {
  height: 3.125rem;
}

#gameboard-grid {
  width: var(--gameboard-grid-size);
  height: var(--gameboard-grid-size);
}

#action-button {
  width: var(--gameboard-grid-size);
  height: 6.25rem;
}
